.app {
  text-align: center;
}

.card {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.card:hover {
  box-shadow: 1px 1px;
}

.card__suite {
  width: 50%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 175px;
  font-size: 7em;
}

.card__suite img {
  width: 100%;
}

.card__number {
  font-size: 24px;
  position: absolute;
  text-decoration: underline;
}

.card__number--bottom {
  bottom: 15px;
  right: 15px;
  transform: rotate(-180deg);
}

.card__number--top {
  top: 15px;
  left: 15px;
}
